// Specific CSS for your home-page

.presentation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 15px;
  .txt-description {
    text-justify: auto;
    padding: 15px;
    width: 900px;
    color: $dark-gray;
    text-shadow: 1px 1px 1px $light-gray;
    p {
      font-style: italic;
      text-align: justify;
    }
    h1 {
      border-bottom: 1px solid black;
      margin-bottom: 15px;
      padding-bottom: 15px;
    }
  }
}

.bandeau-segmentation {
  background-color: black;
  h1 {
    color: white;
    text-shadow: 1px 1px 1px $light-gray;
    padding-top: 15px;
    padding-left: 15px !important;
  }
  .resume {
    color: #999999;
    padding: 15px 15px !important;
  }
}

.bandeau-segmentation-blanc {
  background-color: white;
  h1 {
    color: $dark-gray;
    padding-top: 15px;
    padding-left: 15px;
  }
}

.temoignage {
  display: flex;
}
