// Specific CSS for your home-page

.presentation {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  .img-description {
    border-radius: 6px;
  }
  .txt-description {
    text-justify: auto;
    width: 400px;
    color: $dark-gray;
    text-shadow: 1px 1px 1px $light-gray;
    p {
      font-style: italic;
    }
  }
}

.bandeau-segmentation {
  background-color: $dark-gray;
  h1 {
    color: white;
    text-shadow: 1px 1px 1px $gray;
    padding-top: 15px;
    padding-left: 15px;
  }
}

.bandeau-segmentation-blanc {
  background-color: white;
  h1 {
    color:$dark-gray;
    text-shadow: 1px 1px 1px $light-gray;
   padding-top: 15px;
    padding-left: 15px;
  }
}

.temoignage {
  display: flex;
}




