<div class="banner">
  <div class="container">
    <h1>Réveler votre potentiel!</h1>
    <button type="button" class="btn btn-success btn-lg btn-banner">Contactez-moi</button>
  </div>
</div>

<div class="presentation">
  <div class="img-description">
   <%= image_tag('imgalexandre.jpg') %>
 </div>
 <div class="txt-description">
   <h1>QUI JE SUIS :</h1>
   <p> “J’ai le plaisir, depuis onze ans, d’accompagner mes clients de tous horizons professionnels et sportifs jusqu’à l’aboutissement de leurs objectifs en matière de forme et de santé. Mon approche propose à mes clients une philosophie sportive du corps, de l’esprit et de l’alimentation adaptée à leurs quotidiens. Que le souhait soit la perte de poids, le renforcement musculaire, ou une échéance compétitive j’apporterai dès les premiers rendez-vous la mise en place d’un programme sur mesure pour des résultats visibles et rapides.”</p>
 </div>
</div>

<div class="bandeau-segmentation">
  <h1>UNE METHODE, TROIS FACTEURS :</h1>
  <div class="cards">
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(https://images.unsplash.com/photo-1538805060514-97d9cc17730c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=668&q=80)">
      <h2>Sport & Fitness</h2>
      <p>Les entrainements que je propose sont créés sur mesure, et sont exclusivement mis en place selon votre physionomie, votre état de forme et vos objectifs. Ils s’inscrivent dans une démarche globale en parallèle de la nutrition et de l’aspect psychologique. Que vous me demandiez de perdre du poids, de prendre du muscle, ou de vous remettre en forme, mettons en place un plan dès maintenant !</p>
    </div>

    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(https://images.unsplash.com/photo-1528498033373-3c6c08e93d79?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60)">
      <h2>Nutrition & Balance</h2>
      <p>La diététique est aussi importante que votre entrainement. Ce que vous mettez dans votre assiette conditionne votre forme sur de nombreux aspects. Il est essentiel d’analyser votre alimentation méticuleusement et d’observer les réactions de votre corps en fonction de ce que vous ingérez . Donnez dès  maintenant ce qu’il y a de mieux à votre corps pour atteindre le meilleur !</p>
    </div>

    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(https://images.unsplash.com/photo-1497561813398-8fcc7a37b567?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60)">
      <h2>Accompagnement & Motivation</h2>
      <p>Mon rôle est de vous accompagner au quotidien, vous supporter dans les moments difficiles pour vous accompagner jusqu’à votre objectif. De nombreux clients font appel à moi parce qu’ils savent que je ne les lâcherai pas, que je serais une source de motivation. Même les jours sans envie, je serai présent pour vous emporter au-delà de l’effort jusqu’au plaisir d’une bonne séance achevée !</p>
    </div>
  </div>
</div>

<div class="bandeau-segmentation-blanc">
  <h1>QUELQUES AVIS CLIENTS :</h1>
  <div class="notification">
    <img src='https://kitt.lewagon.com/placeholder/users/arthur-littm' class="avatar-large"/>
    <div class="notification-content">
      <p><small>14th January</small></p>
      <p>Lorem ipsum dolor sit amet, <strong>consectetur</strong> adipisicing elit.</p>
    </div>

    <div class="notification-actions">
      <a href="#">Edit <i class="fas fa-pencil-alt"></i></a>
      <a href="#">Delete <i class="far fa-trash-alt"></i></a>
    </div>
  </div>

  <div class="notification">
    <img src='https://kitt.lewagon.com/placeholder/users/Eschults' class="avatar-large"/>
    <div class="notification-content">
      <p><small>9th January</small></p>
      <p>Lorem ipsum dolor sit amet, <strong>consectetur</strong> adipisicing elit.</p>
    </div>

    <div class="notification-actions">
      <a href="#">Edit <i class="fas fa-pencil-alt"></i></a>
      <a href="#">Delete <i class="far fa-trash-alt"></i></a>
    </div>
  </div>

  <div class="notification">
    <img src='https://kitt.lewagon.com/placeholder/users/Eschults' class="avatar-large"/>
    <div class="notification-content">
      <p><small>9th January</small></p>
      <p>Lorem ipsum dolor sit amet, <strong>consectetur</strong> adipisicing elit.</p>
    </div>

    <div class="notification-actions">
      <a href="#">Edit <i class="fas fa-pencil-alt"></i></a>
      <a href="#">Delete <i class="far fa-trash-alt"></i></a>
    </div>
  </div>

  <div class="notification">
    <img src='https://kitt.lewagon.com/placeholder/users/Eschults' class="avatar-large"/>
    <div class="notification-content">
      <p><small>9th January</small></p>
      <p>Lorem ipsum dolor sit amet, <strong>consectetur</strong> adipisicing elit.</p>
    </div>

    <div class="notification-actions">
      <a href="#">Edit <i class="fas fa-pencil-alt"></i></a>
      <a href="#">Delete <i class="far fa-trash-alt"></i></a>
    </div>
  </div>
</div>

<div class="bandeau-segmentation">
  <h1>MES PRESTATIONS ET TARIFS :</h1>
  <div class="cards">
    <div class="card-category price">
      <h4>Coaching Privé (1 à 3 pers)</h4>
      <p>Perte de poids </br>
      Renforcement musculaire </br>
    Amélioration cardiovasculaire </br>
  Prise de muscle </br>
Bien-être du sénior </br>
Coaching d’une heure par session </br>
Maximum 3 personnes </br>
Français/Anglais parlé </br>
Conseil nutritionnel sur demande </br>
Soutien au quotidien </br>
50% déductible des impôts </br></br>

80€/sessions
350€/5 sessions
250€/abo mensuel</p>
</div>

<div class="card-category price">
  <h4>Coaching Groupe (3 à 10 pers)</h4>
  <p>Perte de poids</br>
  Renforcement musculaire</br>
Amélioration cardiovasculaire</br>
Prise de muscle</br>
Bien-être du sénior</br>
Coaching d’une heure par session</br>
Maximum 10 personnes</br>
Français/Anglais parlé</br>
Conseil nutritionnel sur demande</br>
Avec ou sans matériel</br>
Tous espaces (ex : salle réunion)</br></br>

100€/sessions
450€/5 sessions
380€/abo mensuel</p>
</div>
<div class="card-category price">
  <h4>Programme à distance</h4>
  <p>Perte de poids</br>
  Renforcement musculaire</br>
Amélioration cardiovasculaire</br>
Prise de muscle</br>
Préparation aux tests physiques</br>
Programme mensuel</br>
En salle/domicile/extérieur</br>
Français/Anglais parlé</br>
Conseil nutritionnel sur demande</br>
Avec ou sans matériel</br>
10 mails ou 1h appel/mois</br></br>

60€/programme
250€/5 programmes
500€/prog annuelle</p>
</div>
</div>
</div>

<div class="bandeau-segmentation-blanc">

</div>
