.methode {
  position: relative;
  background-image: url(methodeimage.jpeg);
  background-size: 80% 80%;
  background-position: right;
  background-repeat: no-repeat;
  height: 90vh;
  display: flex;
  flex-direction: column;
  .cards {
    text-align: left;
    padding-left: 20px;
    position:absolute;
    top: 120px;
    left: 8%;
  }
  .card-method {
  h2 {
    font-size: 3vmin;
    color: $light-gray;
  }
  p {
    font-size: 1.5vmin;
    color: white;
  }
}
}



