.methode {
  position: relative;
  background-image: url(methodeimage.jpeg);
  background-size: 80%;
  background-position: right top;
  background-repeat: no-repeat;
  color: white;
  display: flex;
  flex-direction: column;
  text-align: left;
  padding-top: 5vmin;
  padding-left: 10vw;
  height: 90vh;
    h2 {
      font-size: 4vmin;
      color: $light-gray;
      margin-top:0px !important;
      padding-top: 2vmin;
    }
    p {
      font-size: 2.5vmin;
      color: white;
    }
  }
