.navbar-lewagon {
  background: black;
  z-index: 9999;
  padding-bottom: 20px;
  padding-top: -40px !important;
  color:red;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 200px !important;

}

@media screen and (max-width: 900px) {
  .menu {
  display:none;
  }
  .navbar-lewagon .navbar-brand img {
  padding-left: 0;
  }
}
