.container-presentation {
  display: flex;
  align-items: center;
  height: 50vh;
  width: 85%;
  position: relative;
  left: 10%;
  .txt-description {
    text-justify: auto;
    text-align: justify;
    width: 90%;
    color: white;
    p {
      font-style: italic;
      font-size: 2vmin;
    }
    h1 {
      font-size: 4vmin;
      border-bottom: 1px solid white;
      margin-bottom: 15px;
      padding-bottom: 15px;
    }
  }
}

.img-description img {
  border-radius: 50%;
  border: 1px solid rgb(235,235,235);
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
  width: 70%;
  }

@media screen and (max-width: 900px) {
  .container-presentation {
  display:flex;
  flex-direction: column;
  margin-top: 10%;
  padding-bottom: 10%;
  height: auto;
    .txt-description {
    text-justify: auto;
    text-align: justify;
    width: 100%;
    color: white;
      p {
        font-style: italic;
        font-size: 4vmin;
      }
      h1 {
        font-size: 6vmin;
        border-bottom: 1px solid white;
        margin-bottom: 15px;
        padding-bottom: 15px;
      }
    }
  }
  .img-description img {
  display: flex;
  border-radius: 50%;
  border: 1px solid rgb(235,235,235);
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
  width: 70%;
  margin: auto;
  align-items: center;
  }
}

