.pricing {
  position: relative;
  background-image: url(shoes.jpeg);
  background-size: 80%;
  background-position: left top;
  background-repeat: no-repeat;
  color: white;
  display: flex;
  flex-direction: column;
  text-align: right;
  padding-top: 5vmin;
  padding-right: 10vw;
  height: 90vh;
  .price {
    h2 {
      font-size: 3.5vmin;
      color: $light-gray;
      margin-top: 0px !important;
      padding-top: 2vmin;
    }
    p {
      font-size: 2vmin;
      color: white;
    }
  }
}
