.pricing {
  position: relative;
  background-image: url(price1.jpeg);
  background-size: 50%;
  background-position: left;
  background-repeat: no-repeat;
  background-color: black;
  height: 100vh;
}
